.weekInput {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.week {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    padding: 2rem;
    border-radius: 5px;
    // background-color: var(--surface-b);

    .day {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;

        .day-title {
            font-weight: bolder;
            text-align: center;
            padding: .5rem .25rem;
            cursor: pointer;

            color: white;

            border-radius: 5px;
            background-color: #3B82F6;
        }

        .day-title:hover {
            background-color: #326fd1;
        }
        .day-title:active {
            background-color: rgb(167, 167, 167);
        }

        .date {
            text-align: center;

            padding-bottom: .25rem;
        }

        .total-day {
            text-align: center;
        }

        &.holiday {
            background-color: rgba(255, 89, 89, 0.603);
        }
    }
}

.green-check {
    color: #6ee56e;
    margin-left: 1rem;
    font-weight: bolder;
}
.red-cross {
    color: red;
    margin-left: 1rem;
    font-weight: bolder;
}

app-track {
    width: 100%;
}

.errors-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.errors {
    color: white;
    background-color: red;
    padding: .5rem;
}
