<div class="main">
    <div class="weekInput">
        <button (click)="previousWeek()" icon="pi pi-caret-left" pButton pRipple></button>
        <p-dropdown (onChange)="changeWeek($event)" *ngIf="!loadingWeek" [(ngModel)]="selectedOptionWeek"
                    [dataKey]="'id'" [options]="optionsWeek"></p-dropdown>
        <p-dropdown (onChange)="changeYear($event)" *ngIf="!loadingWeek" [(ngModel)]="selectedOptionYear"
                    [options]="optionsYear"></p-dropdown>

        <p-skeleton *ngIf="loadingWeek" height="2.6rem" width="14rem"></p-skeleton>
        <p-skeleton *ngIf="loadingWeek" height="2.6rem" width="14rem"></p-skeleton>
        <button (click)="nextWeek()" icon="pi pi-caret-right" pButton pRipple></button>
    </div>

    <div *ngIf="errors.length > 0" class="errors-container">
        <button
            (click)="onErrorsClick()"
            [label]="errorsString"
            class="p-button-danger"
            pButton
            pRipple
        ></button>
    </div>
    <div class="week p-component">
        <div *ngFor="let day of days" [class.holiday]="isDayHoliday(day)" class="day">
            <div (click)="onDayClick(day.id)" class="day-title">
                {{ day.label }}
                <i *ngIf="totalDay(day.id) >= 8.5" class="pi pi-check green-check"></i>
                <i *ngIf="shouldMarkDayAsError(day.id)" class="pi pi-times red-cross"></i>
            </div>
            <div class="date">{{ date(day.id) | date:'dd/MM' }}</div>
            <div class="total-day">{{ totalDay(day.id) }}h</div>
            <ng-container *ngFor="let track of tracks">
                <app-track
                    (deleteEvent)="delete(track)"
                    *ngIf="track.date.getDay() === day.id && !loading"
                    [loading]="loadingTracks.indexOf(track) >= 0"
                    [track]="{duration: track.duration, job: track.job, bug: track.description, bugId: track.bugId}"
                ></app-track>
                <p-skeleton *ngIf="track.date.getDay() === day.id && loading" height="8rem"></p-skeleton>
            </ng-container>
        </div>
    </div>
</div>
