<p-panel [collapsed]="false" [toggleable]="true" header="Envoi de template">
    <div class="main">
        <p *ngIf="templates?.length < 1">Créé un template pour pouvoir en envoyer.</p>

        <ng-container *ngIf="templates?.length > 0">
            <p-listbox [(ngModel)]="selectedTemplate" [filter]="true" [listStyle]="{ 'max-height': '20rem' }"
                       [options]="templates"
                       optionLabel="identifiant"></p-listbox>

            <p-calendar
                [(ngModel)]="range"
                [firstDayOfWeek]="1"
                [readonlyInput]="true"
                [showOtherMonths]="false"
                [showWeek]="true"
                inputId="multiple"
                placeholder="Plage de dates"
                selectionMode="range"
            ></p-calendar>

            <button (click)="send()" [disabled]="!formValid()" label="Envoyer" pButton pRipple></button>
        </ng-container>

    </div>
</p-panel>
