<app-template-sender [templates]="templates"></app-template-sender>
<app-track-creation
    (createTrackEvent)="onTrackCreated($event)"
></app-track-creation>
<app-edition (templateCreated)="createTemplate($event)" (trackDeleted)="onDeleteTrack($event)" [tracks]="tracks"
             [update]="false"></app-edition>
<app-edition (templateDeleted)="onTemplateDelete($event)" (templateUpdated)="updateTemplate($event)"
             (trackDeleted)="onDeleteTrack($event)"
             [templates]="templates"
             [tracks]="tracks"
             [update]="true"></app-edition>
