<form [formGroup]="formGroup" class="main" (ngSubmit)="login()">
    <h2>Identifiants CodevTT</h2>
    <input
        type="text"
        formControlName="username"
        pInputText
        placeholder="Nom d'utilisateur"
    />
    <input
        type="password"
        formControlName="password"
        placeholder="Mot de passe"
        pInputText
    />
    <div class="savePwd">
        <p-checkbox
            [formControl]="formGroup.controls.savePassword"
            [binary]="true"
            inputId="savePwd"
        ></p-checkbox>
        <label for="savePwd">Enregistrer le mot de passe</label>
    </div>
    <button
        pButton
        pRipple
        label="Login"
        type="submit"
        [disabled]="!formGroup.valid || loading"
        [loading]="loading"
    ></button>
</form>
