.track {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: .3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    .header {
        padding: .8rem;
        text-align: center;
        width: 100%;
    }

    .body {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
    }
}

.delete {
    transform: scale(.7);
}

.draggable {
    cursor: grab;
}
