<div class="track p-component" [class.draggable]="draggable">
    <div class="header" [style]="{'background-color': color}">{{ track.bug }}</div>
    <div class="body">
        <div class="job">{{ track.job }}</div>
        <div class="duration">{{ track.duration }}</div>
        <p-skeleton *ngIf="loading" width="2rem" height="2rem"></p-skeleton>
    </div>

    <button
        type="button"
        pButton
        pRipple
        class="delete p-button-danger p-button-rounded"
        icon="pi pi-trash"
        (click)="delete()"
        *ngIf="!loading"
    ></button>

</div>
