<div class="main">
    <button routerLink="/home" pButton pRipple icon="pi pi-arrow-left" label="Retour"></button>

    <h2>Je dois changer de station de travail, je voudrais conserver ma configuration.</h2>
    <p>Pour transferer vos données sur un autre ordinateur, compressez le dossier <em>"%USERPROFILE%/AppData/Roaming/lazy-vtt"</em> et décompréssez le dans le même dossier dans la nouvelle station.</p>
</div>
