.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 2rem;
}

.imp-exp {
    display: flex;
    align-items: center;
    gap: 1rem
}
.btnSubmit {
    grid-area: btnSubmit;
    margin-bottom: 3rem;
}

.bugs {
    grid-area: bugs
}

.bug {
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > input {
        margin-right: .5rem;
    }

    cursor: grab;
}

.input-issue {
    width: 25rem;
    cursor: grab;
}

.defaultDuration {
    margin-bottom: 2rem;
}

.duration {
    justify-content: center;
}


.diplay-weekends {
    display: flex;
    align-items: center;
    gap: .2rem;
    grid-area: weekends
}

.form {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;

    grid-template-areas:
        "bugs bugs bugs"
        "weekends weekends weekends"
        ". btnSubmit .";

    > div {
        margin-top: 2rem;
    }

    button[type="submit"] {
        margin-top: 2rem;
        align-self: center;
    }
}

