<div class="main">
    <button
        pButton
        pRipple
        icon="pi pi-arrow-left"
        type="button"
        label="Retour"
        [routerLink]="['/home']"
    ></button>

    <p *ngIf="loadingTeams">Chargement des données serveur....</p>

    <form
        #form="ngForm"
        [formGroup]="configForm"
        class="form"
        (ngSubmit)="submit()"
        *ngIf="!loadingTeams"
    >
        <p-accordion class="bugs">
            <p-accordionTab
                header="Tâches"
                cdkDropList
                (cdkDropListDropped)="dropBugs($event)"
            >
                <p *ngIf="bugs.length < 1">
                    L'ensemble des tâches seront affichées lors de la saisie si
                    vous n'en séléctionnez pas
                </p>
                <div
                    class="bug"
                    *ngFor="let bug of bugs; let i = index"
                    cdkDrag
                >
                    <input
                        type="text"
                        pInputText
                        [value]="bug.label"
                        placeholder="libellé tache"
                        [readOnly]="true"
                        class="input-issue"
                    />
                    <input
                        pInputText
                        style="width: 6rem; cursor: pointer;"
                        [(colorPicker)]="bug.color"
                        [cpOutputFormat]="'hex'"
                        [cpOKButtonText] = "'Ok'"
                        [style.background]="bug.color"
                        readonly
                        placeholder="couleur"
                    />
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-sm"
                        (click)="removeBug(i)"
                    ></button>
                </div>

                <button
                    pButton
                    pRipple
                    type="button"
                    icon="pi pi-plus"
                    class="p-button-rounded p-button-sm"
                    (click)="clickShowAddBug()"
                ></button>
            </p-accordionTab>

            <p-accordionTab
                header="Rôles"
                cdkDropList
                (cdkDropListDropped)="dropJobs($event)"
            >
                <div
                    class="bug"
                    *ngFor="let job of jobs; let i = index"
                    cdkDrag
                >
                    <input
                        type="number"
                        pInputText
                        [value]="job.id"
                        [readOnly]="true"
                    />
                    <input
                        type="text"
                        pInputText
                        [value]="job.label"
                        [readOnly]="true"
                    />
                </div>
            </p-accordionTab>

            <p-accordionTab
                header="Durées"
                formArrayName="durations"
                cdkDropList
                (cdkDropListDropped)="dropDurations($event)"
            >
                <button
                    pButton
                    pRipple
                    (click)="initDurations(true)"
                    label="Par Défaut"
                    class="defaultDuration"
                    *ngIf="
                        allDurationsLength >
                        configForm.controls.durations.length
                    "
                ></button>
                <div
                    class="bug duration"
                    *ngFor="
                        let duration of configForm.controls.durations?.controls;
                        let i = index
                    "
                    cdkDrag
                >
                    <input
                        id=""
                        type="text"
                        pInputText
                        [formControl]="duration.controls.label"
                        [readOnly]="true"
                        placeholder="libellé role"
                    />
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-sm"
                        (click)="removeDuration(i)"
                    ></button>
                </div>
            </p-accordionTab>
        </p-accordion>

        <div class="diplay-weekends">
            <p-checkbox
            [formControl]="configForm.controls.displayWeekEnd"
            [binary]="true"
            inputId="savePwd"
            ></p-checkbox>
            <label for="savePwd">Afficher les weekends</label>
        </div>


        <button
            class="btnSubmit"
            pButton
            pRipple
            icon="pi pi-save"
            type="submit"
            label="Enregistrer"
            [disabled]="!isValid()"
        ></button>
    </form>
</div>

<p-dialog [(visible)]="showImportConfig" [modal]="true">
    <label for="importedConfig">Configuration au format JSON</label>
    <input
        id="importedConfig"
        type="text"
        pInputText
        [(ngModel)]="importedConfig"
    />

    <ng-template pTemplate="footer">
        <p-button
            icon="pi pi-check"
            (click)="importConfig(importedConfig)"
            label="Ok"
            styleClass="p-button-text"
        ></p-button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showAddBug" [modal]="true">
    <p-listbox
        dataKey="id"
        filterBy="label"
        [options]="allBugs"
        [(ngModel)]="bugsToAdd"
        optionLabel="label"
        [multiple]="true"
        [filter]="true"
        [checkbox]="true"
    ></p-listbox>

    <ng-template pTemplate="footer">
        <p-button
            icon="pi pi-check"
            (click)="addBugs()"
            label="Ajouter"
            styleClass="p-button-text"
        ></p-button>
    </ng-template>
</p-dialog>
