<router-outlet></router-outlet>
<p-toast position="top-right"></p-toast>
<div class="footer">
    <a href="https://gitlab.com/Meubli/codevtt-electron">
        <img alt="Gitlab" src="assets/icons/gitlab-logo-500.png" title="Gitlab">
    </a>
</div>
