.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    gap: 1rem;

    @media (max-width: 1150px) {
        flex-direction: column;
        align-items: center;
    }
}

.lists {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

:host ::ng-deep{
    .durationsList li{
        padding: .4rem 1.25rem !important;
    }

    .bug-list li{
        padding: 0 !important;

        .bug-item {
            padding: .5rem .7rem;
            width: 100%;
        }
    }
}
