<form [formGroup]="formGroup" (ngSubmit)="send()" class="main">
    <p-calendar
        [formControl]="formGroup.controls.dates"
        selectionMode="multiple"
        [readonlyInput]="true"
        inputId="multiple"
        [inline]="true"
        [disabledDays]="disableDays"
        [showOtherMonths]="false"
        [firstDayOfWeek]="1"
        [showWeek]="true"
    ></p-calendar>

    <div class="lists">
        <p-listbox
            [listStyle]="{ 'max-height': '20rem' }"
            [filter]="true"
            [options]="bugs"
            optionLabel="label"
            [formControl]="formGroup.controls.bug"
            (onChange)="onBugChange($event)"
        >
            <!-- <ng-template let-bug pTemplate="item">
                <div class="bug-item" [style]="{'background-color': bug.color? bug.color : 'transparent'}">
                    {{bug.label}}
                </div>
            </ng-template> -->
        </p-listbox>
        <p-listbox
            [listStyle]="{ 'max-height': '25rem' }"
            [options]="jobsToDisplay"
            optionLabel="label"
            [formControl]="formGroup.controls.job"
        ></p-listbox>
        <p-listbox
            [listStyle]="{ 'max-height': '25rem' }"
            [options]="durations"
            listStyleClass="durationsList"
            optionLabel="label"
            [formControl]="formGroup.controls.duration"
        ></p-listbox>
    </div>

    <button
        pButton
        pRipple
        icon="pi pi-save"
        label="Envoyer"
        [disabled]="!formGroup.valid || loading"
    ></button>
</form>
