/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    padding: 0;

    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;

    font-size: .9rem;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;

    padding: 2rem 5rem 2rem 5rem;
}

.block {
    display: block;
}
