<div class="container" *ngIf="isConnected">
    <div class="title-bar">
        <div class="logo-col">
            <img [src]="logo" alt="Eté" class="logo" />
        </div>
        <div class="title">
            <h1>LazyVTT !</h1>

            <img *ngIf="imageUrl" [src]="imageUrl" (error)="handleMissingImage($event)">
        </div>
        <div class="logo-col">
            <img [src]="logo" alt="Eté" class="logo" />
        </div>
    </div>
    <p style="text-align: end">
        <strong>{{ username }}</strong>
    </p>
    <div class="buttons">
        <button
            pButton
            pRipple
            icon="pi pi-paypal"
            label="A votre  bon coeur"
            (click)="modalPaypalVisible = true"
        ></button>

        <button
            pButton
            pRipple
            icon="pi pi-question-circle"
            label="Aide"
            routerLink="/help"
        ></button>

        <div style="flex:1"></div>

        <button
            pButton
            pRipple
            icon="pi pi-wrench"
            label="Configuration"
            routerLink="/config"
        ></button>
        <button
            pButton
            pRipple
            label="Déconnexion"
            (click)="logout()"
            class="p-button-danger"
        ></button>
    </div>

    <p-tabView>
        <p-tabPanel header="Simple Tâche">
            <app-simple [date]="dateClicked"></app-simple>
        </p-tabPanel>
        <p-tabPanel header="Templates">
            <app-recurring></app-recurring>
        </p-tabPanel>
    </p-tabView>

    <p-divider [style]="{ width: '100%' }"></p-divider>

    <app-tracks
        (dateClickEvent)="onTracksDayClick($event)"
        [style]="{ 'margin-top': 'rem' }"
    ></app-tracks>

    <p-dialog header="A votre bon coeur" [(visible)]="modalPaypalVisible" [modal]="true" [style]="{ width: '60vw' }" [draggable]="false" [resizable]="false">
        <div class="modal-content">
            <img src="assets/paypal-qrcode.png" alt="paypal">
        </div>
    </p-dialog>
</div>
