:host {

}

.container > p-tabview {
    width: 100%;
}

.title-bar {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    .title {
        text-align: center;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        h1 {
            width: 100%;
        }
        img {
            height: 150px;
            width: auto;
            border-radius: 5px;
        }
    }

    .logo-col:last-child {
        transform: rotateY(180deg);
    }
}

.modal-content {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 12rem;
    height: auto;

    border-radius: 100%;
}
