<p-panel [collapsed]="true" [toggleable]="true" header="{{update ? 'Modification' : 'Création'}} de template">
    <div *ngIf="update" class="templateSelection">
        <p-listbox
            (onChange)="onTemplateChange($event)"
            [(ngModel)]="selectedTemplate"
            [filter]="true"
            [listStyle]="{ 'max-height': '20rem' }"
            [options]="templates"
            optionLabel="identifiant"
        ></p-listbox>

        <button (click)="onDeleteTemplate()" [disabled]="!selectedTemplate" class="p-button-danger"
                label="Supprimer template" pButton
                pRipple></button>
    </div>
    <div
        #trackList="cdkDropList"
        (cdkDropListDropped)="dropIntoList($event)"
        (cdkDropListEntered)="onSourceListEntered($event)"
        (cdkDropListExited)="onSourceListExited($event)"
        [cdkDropListConnectedTo]="dayIds()"
        [cdkDropListData]="tracks"
        [cdkDropListEnterPredicate]="noReturnPredicate"
        cdkDropList
        cdkDropListSortingDisabled
        class="list-tracks"
    >
        <app-track
            (cdkDragStarted)="dragFromListStart($event, i)"
            (deleteEvent)="onDeleteGlobalTrack(i)"
            *ngFor="let track of tracks; let i = index"
            [cdkDragData]="track"
            [draggable]="true"
            [dragging]="dragging"
            [track]="{
                duration: track.duration.label,
                job: track.job.label,
                bug: track.bug.label,
                bugId: track.bug.id
            }"
            cdkDrag
        ></app-track>
    </div>

    <div class="week p-component">
        <ng-container *ngFor="let day of days; let i = index">
            <p-divider *ngIf="i !== 0" layout="vertical"></p-divider>
            <div
                (cdkDropListDropped)="dropTrack($event, day)"
                [cdkDropListData]="day.tracks"
                [class.dragging]="dragging"
                cdkDropList
                class="day"
                id="{{uniqueId}}-day-{{ i }}"
            >
                <div class="day-title">
                    {{ day.label }}
                </div>
                <ng-container *ngFor="let track of day.tracks">
                    <app-track
                        (deleteEvent)="deleteTrackFromDay(track, day)"
                        [track]="{
                            duration: track.duration.label,
                            job: track.job.label,
                            bug: track.bug.label,
                            bugId: track.bug.id
                        }"
                    ></app-track>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <div *ngIf="!update" class="creationFooter">
        <input [(ngModel)]="templateId" pInputText placeholder="Identifiant du template"/>
        <button (click)="createTemplate()" [disabled]="!isTemplateValid()" icon="pi pi-plus" label="Créer Template"
                pButton
                pRipple></button>
    </div>

    <div *ngIf="update && selectedTemplate" class="creationFooter">
        <button (click)="updateTemplate()" [disabled]="!isTemplateValid() && !selectedTemplate" icon="pi pi-plus"
                label="Modifier Template"
                pButton
                pRipple></button>
    </div>

</p-panel>
