.list-tracks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

}

.week {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr 4fr;

    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
    // background-color: var(--surface-b);

    .day {
        padding: .5rem;
        display: flex;
        flex-direction: column;
        min-height: 10rem;
        gap: .5rem;

        &.dragging {
            border: 2px dotted rgb(27, 134, 32);
        }

        .day-title {
            font-weight: bolder;
            text-align: center;
            padding: .5rem .25rem;
        }

    }
}

.templateSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-bottom: 3rem;
}

.creationFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
